*{
	margin: 0;
	padding: 0;
	font-family: Circular, sans-serif;
}

nav{
	height: 45px;
	width: 100%;
	border: 0.5px solid grey ;
	position: fixed;
	padding-left: 300px;
	position:fixed;
	padding-top: 11px;
}
nav li{
	margin: 0;
	float: left;
	padding: 5px 15px;
	list-style-type: none;
	height: auto;
	width: auto;
	display:block;
}
nav li a{
	text-decoration: none;
	font-size: 19px;
	text-align: center;
	color: black;
}
.active{
	border-bottom: 2px solid;
	border-bottom-color: rgb(100, 149, 237);
}




.tendina1{
	padding:0;
	height: 500px;
	width: 100%;
	border-bottom: 1px solid grey;
	position: fixed;
	top: 57px;
}


.half1 {
	 height: 500px;
	 width: 60%;
	 float: left;
	 position: relative;
	 
}

.half2{
	 height: 500px;
	 width: 40%;
	 float: left;
}

.column1{
	margin-left: 10%;
	float:left;
	height: 500px;
	width: 30%;
	position: relative;
	text-align: left;
}
h1, h2, h3{
	font-size: 21px;
	margin-top: 50px;
	margin-left: 15px;
}
.column1 a, .column2 a, .column3 a{
	text-decoration: none;
	color: black;
	font-size: 17px;
	opacity: 0.7;
	margin-left: 15px;
}

.column2{
	float: left;
	height: 500px;
	width: 30%;
}

.column3{
	float: left;
	height: 500px;
	width: 30%;
}




.imm1{
	height: 300px;
	width: 250px;
	margin-top: 130px;
}
.n2{
	height: 300px;
	width: 250px;
	margin-left: 50px;
}