*{
    padding: 0;
    margin: 0;
  }
  
  section{
    padding-top: 100px;
    text-align: center;
  }
  section i{
    padding-top: 10px;
    margin-right: 5px;
  }
  section a{
    text-decoration: none;
  }
  section img{
    padding-top: 10px;
  }