*{
    padding: 0;
    margin: 0;
}

#column1{
    width: 30%;
    position: relative;
    float: left;
    background-color: green;
    height: 700px;
}

#column2{
    width: 40%;
    position: relative;
    float: left;
    height: 700px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

#column3{
    width: 30%;
    position: relative;
    float: left;
    background-color: red;
    height: 700px;
}

#total_c{
    width: 100%;
    position: relative;
    height: auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#high_c{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    border-bottom: 0.5px solid lightgrey;
    padding-top: 5px;
}
h2{
    font-family: 'Poppins', sans-serif;
}

#low_c{
    width: 100%;
    height: auto;
    background-color: rgb(9, 165, 185);
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#field input{
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
}